best_model.zip filter=lfs diff=lfs merge=lfs -text
logs/best_model.zip filter=lfs diff=lfs merge=lfs -text
models/best_model.zip filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/bc/7b/bc7b9893e0d76b62d60d9dbfd20201717da3730bd8c77c5f8fbf3141d0b3a230 filter=lfs diff=lfs merge=lfs -text
37/models/best_model.zip filter=lfs diff=lfs merge=lfs -text
models/307.zip filter=lfs diff=lfs merge=lfs -text
models/next.zip filter=lfs diff=lfs merge=lfs -text
submit_models/best_model.zip filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/9f/c9/9fc937c3e940a536775f07e856ac70581e359179dc569d42c7baad83f411bc6c filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/80/79/8079300da7cdb5e9fad4786c31b6e43cae6ffde128b50ec2aecdf999512fa296 filter=lfs diff=lfs merge=lfs -text
models/1635289622.343127/best_model.zip filter=lfs diff=lfs merge=lfs -text
submit_models/old_best_model.zip filter=lfs diff=lfs merge=lfs -text
