best_model.zip filter=lfs diff=lfs merge=lfs -text
logs/best_model.zip filter=lfs diff=lfs merge=lfs -text
models/best_model.zip filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/bc/7b/bc7b9893e0d76b62d60d9dbfd20201717da3730bd8c77c5f8fbf3141d0b3a230 filter=lfs diff=lfs merge=lfs -text
37/models/best_model.zip filter=lfs diff=lfs merge=lfs -text
models/307.zip filter=lfs diff=lfs merge=lfs -text
models/next.zip filter=lfs diff=lfs merge=lfs -text
submit_models/best_model.zip filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/9f/c9/9fc937c3e940a536775f07e856ac70581e359179dc569d42c7baad83f411bc6c filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/80/79/8079300da7cdb5e9fad4786c31b6e43cae6ffde128b50ec2aecdf999512fa296 filter=lfs diff=lfs merge=lfs -text
models/1635289622.343127/best_model.zip filter=lfs diff=lfs merge=lfs -text
submit_models/old_best_model.zip filter=lfs diff=lfs merge=lfs -text
submit_models/515.05.zip filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/c9/b9/c9b9aaa938013b48c3369198236eba3e108b74517f5c0dd8295d25c83d180a9a filter=lfs diff=lfs merge=lfs -text
submit_models/pending.zip filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/1e/7e/1e7e44634e72810fd0a4e2f6b7744fdf912ae3acdd18fe83520f07e32154752c filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/28/db/28db53af26761eba12eae972b57538b99c8ff242adbf32356e3107c2f65a2c4f filter=lfs diff=lfs merge=lfs -text
models/1635302470.607659/best_model.zip filter=lfs diff=lfs merge=lfs -text
models/1635317776.0289843/best_model.zip filter=lfs diff=lfs merge=lfs -text
models/1635362062.6990376/best_model.zip filter=lfs diff=lfs merge=lfs -text
models/1635310003.7901745/best_model.zip filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/41/5e/415e0e119388ccfc3e4a62a096a06280a3e934bf5497175019d28e6d9938da05 filter=lfs diff=lfs merge=lfs -text
models/1635375961.3944137/best_model.zip filter=lfs diff=lfs merge=lfs -text
